**
.DS_Store
!package.json
!dist/**
!resources/**
!README.md
!CHANGELOG.md
!LICENSE
!LICENSE.txt
.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
tsconfig.tsbuildinfo
.editorconfig
.git/**
.github/**
.commitlintrc.js
.lintstagedrc.js
webview/**
vite.config.ts
!dist/webview/**
