.vscode/**
.git/**
.gitignore
src/**
**/*.ts
**/*.map
tsconfig.json
*.vsix
node_modules/**
.eslintrc.json
.prettierrc
**/.DS_Store
*.log
.vscode-test/**
test/**
**/*.test.ts
.github/**
.husky/**
commitlint.config.js
**/*.md
!README.md
!CHANGELOG.md
